{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://appstream2.amazonaws.com/"
        },
        {
            "url": "http://appstream2.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon AppStream 2.0</fullname> <p>This is the <i>Amazon AppStream 2.0 API Reference</i>. This reference provides descriptions and syntax for each of the actions and data types in AppStream 2.0. AppStream 2.0 is a fully managed application streaming service. You centrally manage your desktop applications on AppStream 2.0 and securely deliver them to any computer. AppStream 2.0 manages the AWS resources required to host and run your applications, scales automatically, and provides access to your users on demand.</p> <p>To learn more about AppStream 2.0, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/appstream2\">Amazon AppStream 2.0 product page</a> </p> </li> <li> <p> <a href=\"http://aws.amazon.com/documentation/appstream2\">Amazon AppStream 2.0 documentation</a> </p> </li> </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon AppStream",
        "version": "2016-12-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appstream-2016-12-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "appstream"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/appstream2/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates the specified fleet with the specified stack.",
                "operationId": "AssociateFleet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidAccountStatusException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "IncompatibleImageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "FleetName": {
                                        "description": "The name of the fleet. ",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "StackName": {
                                        "description": "The name of the stack.",
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "FleetName",
                                    "StackName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchAssociateUserStack": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates the specified users with the specified stacks. Users in a user pool cannot be assigned to stacks with fleets that are joined to an Active Directory domain.",
                "operationId": "BatchAssociateUserStack",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "description": "The list of UserStackAssociationError objects.",
                                            "items": {
                                                "description": "Describes the error that is returned when a user can’t be associated with or disassociated from a stack. ",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The error code for the error that is returned when a user can’t be associated with or disassociated from a stack.",
                                                        "enum": [
                                                            "STACK_NOT_FOUND",
                                                            "USER_NAME_NOT_FOUND",
                                                            "INTERNAL_ERROR"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "The error message for the error that is returned when a user can’t be associated with or disassociated from a stack.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "UserStackAssociation": {
                                                        "description": "Information about the user and associated stack.",
                                                        "properties": {
                                                            "AuthenticationType": {
                                                                "description": "The authentication type for the user.",
                                                                "enum": [
                                                                    "API",
                                                                    "SAML",
                                                                    "USERPOOL"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "SendEmailNotification": {
                                                                "description": "Specifies whether a welcome email is sent to a user after the user is created in the user pool.",
                                                                "type": "boolean"
                                                            },
                                                            "StackName": {
                                                                "description": "The name of the stack that is associated with the user.",
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "UserName": {
                                                                "description": "The email address of the user who is associated with the stack.",
                                                                "format": "password",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "StackName",
                                                            "UserName",
                                                            "AuthenticationType"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "UserStackAssociations": {
                                        "description": "The list of UserStackAssociation objects.",
                                        "items": {
                                            "description": "Describes a user in the user pool and the associated stack.",
                                            "properties": {
                                                "AuthenticationType": {
                                                    "description": "The authentication type for the user.",
                                                    "enum": [
                                                        "API",
                                                        "SAML",
                                                        "USERPOOL"
                                                    ],
                                                    "type": "string"
                                                },
                                                "SendEmailNotification": {
                                                    "description": "Specifies whether a welcome email is sent to a user after the user is created in the user pool.",
                                                    "type": "boolean"
                                                },
                                                "StackName": {
                                                    "description": "The name of the stack that is associated with the user.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "UserName": {
                                                    "description": "The email address of the user who is associated with the stack.",
                                                    "format": "password",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "StackName",
                                                "UserName",
                                                "AuthenticationType"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "UserStackAssociations"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDisassociateUserStack": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Disassociates the specified users from the specified stacks.",
                "operationId": "BatchDisassociateUserStack",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "description": "The list of UserStackAssociationError objects.",
                                            "items": {
                                                "description": "Describes the error that is returned when a user can’t be associated with or disassociated from a stack. ",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The error code for the error that is returned when a user can’t be associated with or disassociated from a stack.",
                                                        "enum": [
                                                            "STACK_NOT_FOUND",
                                                            "USER_NAME_NOT_FOUND",
                                                            "INTERNAL_ERROR"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "The error message for the error that is returned when a user can’t be associated with or disassociated from a stack.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "UserStackAssociation": {
                                                        "description": "Information about the user and associated stack.",
                                                        "properties": {
                                                            "AuthenticationType": {
                                                                "description": "The authentication type for the user.",
                                                                "enum": [
                                                                    "API",
                                                                    "SAML",
                                                                    "USERPOOL"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "SendEmailNotification": {
                                                                "description": "Specifies whether a welcome email is sent to a user after the user is created in the user pool.",
                                                                "type": "boolean"
                                                            },
                                                            "StackName": {
                                                                "description": "The name of the stack that is associated with the user.",
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "UserName": {
                                                                "description": "The email address of the user who is associated with the stack.",
                                                                "format": "password",
                                                                "maxLength": 128,
                                                                "minLength": 1,
                                                                "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "StackName",
                                                            "UserName",
                                                            "AuthenticationType"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "UserStackAssociations": {
                                        "description": "The list of UserStackAssociation objects.",
                                        "items": {
                                            "description": "Describes a user in the user pool and the associated stack.",
                                            "properties": {
                                                "AuthenticationType": {
                                                    "description": "The authentication type for the user.",
                                                    "enum": [
                                                        "API",
                                                        "SAML",
                                                        "USERPOOL"
                                                    ],
                                                    "type": "string"
                                                },
                                                "SendEmailNotification": {
                                                    "description": "Specifies whether a welcome email is sent to a user after the user is created in the user pool.",
                                                    "type": "boolean"
                                                },
                                                "StackName": {
                                                    "description": "The name of the stack that is associated with the user.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "UserName": {
                                                    "description": "The email address of the user who is associated with the stack.",
                                                    "format": "password",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "StackName",
                                                "UserName",
                                                "AuthenticationType"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "UserStackAssociations"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CopyImage": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Copies the image within the same region or to a new region within the same AWS account. Note that any tags you added to the image will not be copied.",
                "operationId": "CopyImage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DestinationImageName": {
                                            "description": "The name of the destination image.",
                                            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]{0,100}$",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceNotAvailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidAccountStatusException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "IncompatibleImageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DestinationImageDescription": {
                                        "description": "The description that the image will have when it is copied to the destination.",
                                        "maxLength": 256,
                                        "type": "string"
                                    },
                                    "DestinationImageName": {
                                        "description": "The name that the image will have when it is copied to the destination.",
                                        "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]{0,100}$",
                                        "type": "string"
                                    },
                                    "DestinationRegion": {
                                        "description": "The destination region to which the image will be copied. This parameter is required, even if you are copying an image within the same region.",
                                        "maxLength": 32,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "SourceImageName": {
                                        "description": "The name of the image to copy.",
                                        "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]{0,100}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "SourceImageName",
                                    "DestinationImageName",
                                    "DestinationRegion"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateDirectoryConfig": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a Directory Config object in AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.",
                "operationId": "CreateDirectoryConfig",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DirectoryConfig": {
                                            "description": "Information about the directory configuration.",
                                            "properties": {
                                                "CreatedTime": {
                                                    "description": "The time the directory configuration was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DirectoryName": {
                                                    "description": "The fully qualified name of the directory (for example, corp.example.com).",
                                                    "type": "string"
                                                },
                                                "OrganizationalUnitDistinguishedNames": {
                                                    "description": "The distinguished names of the organizational units for computer accounts.",
                                                    "items": {
                                                        "maxLength": 2000,
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ServiceAccountCredentials": {
                                                    "description": "The credentials for the service account used by the streaming instance to connect to the directory.",
                                                    "properties": {
                                                        "AccountName": {
                                                            "description": "The user name of the account. This account must have the following privileges: create computer objects, join computers to the domain, and change/reset the password on descendant computer objects for the organizational units specified.",
                                                            "format": "password",
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "AccountPassword": {
                                                            "description": "The password for the account.",
                                                            "format": "password",
                                                            "maxLength": 127,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "AccountName",
                                                        "AccountPassword"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "DirectoryName"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidAccountStatusException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DirectoryName": {
                                        "description": "The fully qualified name of the directory (for example, corp.example.com).",
                                        "type": "string"
                                    },
                                    "OrganizationalUnitDistinguishedNames": {
                                        "description": "The distinguished names of the organizational units for computer accounts.",
                                        "items": {
                                            "maxLength": 2000,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "ServiceAccountCredentials": {
                                        "description": "The credentials for the service account used by the streaming instance to connect to the directory.",
                                        "properties": {
                                            "AccountName": {
                                                "description": "The user name of the account. This account must have the following privileges: create computer objects, join computers to the domain, and change/reset the password on descendant computer objects for the organizational units specified.",
                                                "format": "password",
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "AccountPassword": {
                                                "description": "The password for the account.",
                                                "format": "password",
                                                "maxLength": 127,
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "AccountName",
                                            "AccountPassword"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "DirectoryName",
                                    "OrganizationalUnitDistinguishedNames",
                                    "ServiceAccountCredentials"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateFleet": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a fleet. A fleet consists of streaming instances that run a specified image.",
                "operationId": "CreateFleet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Fleet": {
                                            "description": "Information about the fleet.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "The ARN for the fleet.",
                                                    "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$",
                                                    "type": "string"
                                                },
                                                "ComputeCapacityStatus": {
                                                    "description": "The capacity status for the fleet.",
                                                    "properties": {
                                                        "Available": {
                                                            "description": "The number of currently available instances that can be used to stream sessions.",
                                                            "type": "integer"
                                                        },
                                                        "Desired": {
                                                            "description": "The desired number of streaming instances.",
                                                            "type": "integer"
                                                        },
                                                        "InUse": {
                                                            "description": "The number of instances in use for streaming.",
                                                            "type": "integer"
                                                        },
                                                        "Running": {
                                                            "description": "The total number of simultaneous streaming instances that are running.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "Desired"
                                                    ],
                                                    "type": "object"
                                                },
                                                "CreatedTime": {
                                                    "description": "The time the fleet was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description to display.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "DisconnectTimeoutInSeconds": {
                                                    "description": "The time after disconnection when a session is considered to have ended, in seconds. If a user who was disconnected reconnects within this time interval, the user is connected to their previous session. Specify a value between 60 and 360000. By default, this value is 900 seconds (15 minutes).",
                                                    "type": "integer"
                                                },
                                                "DisplayName": {
                                                    "description": "The fleet name to display.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "DomainJoinInfo": {
                                                    "description": "The name of the directory and organizational unit (OU) to use to join the fleet to a Microsoft Active Directory domain. ",
                                                    "properties": {
                                                        "DirectoryName": {
                                                            "description": "The fully qualified name of the directory (for example, corp.example.com).",
                                                            "type": "string"
                                                        },
                                                        "OrganizationalUnitDistinguishedName": {
                                                            "description": "The distinguished name of the organizational unit for computer accounts.",
                                                            "maxLength": 2000,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "EnableDefaultInternetAccess": {
                                                    "description": "Indicates whether default internet access is enabled for the fleet.",
                                                    "type": "boolean"
                                                },
                                                "FleetErrors": {
                                                    "description": "The fleet errors.",
                                                    "items": {
                                                        "description": "Describes a fleet error.",
                                                        "properties": {
                                                            "ErrorCode": {
                                                                "description": "The error code.",
                                                                "enum": [
                                                                    "IAM_SERVICE_ROLE_MISSING_ENI_DESCRIBE_ACTION",
                                                                    "IAM_SERVICE_ROLE_MISSING_ENI_CREATE_ACTION",
                                                                    "IAM_SERVICE_ROLE_MISSING_ENI_DELETE_ACTION",
                                                                    "NETWORK_INTERFACE_LIMIT_EXCEEDED",
                                                                    "INTERNAL_SERVICE_ERROR",
                                                                    "IAM_SERVICE_ROLE_IS_MISSING",
                                                                    "SUBNET_HAS_INSUFFICIENT_IP_ADDRESSES",
                                                                    "IAM_SERVICE_ROLE_MISSING_DESCRIBE_SUBNET_ACTION",
                                                                    "SUBNET_NOT_FOUND",
                                                                    "IMAGE_NOT_FOUND",
                                                                    "INVALID_SUBNET_CONFIGURATION",
                                                                    "SECURITY_GROUPS_NOT_FOUND",
                                                                    "IGW_NOT_ATTACHED",
                                                                    "IAM_SERVICE_ROLE_MISSING_DESCRIBE_SECURITY_GROUPS_ACTION",
                                                                    "DOMAIN_JOIN_ERROR_FILE_NOT_FOUND",
                                                                    "DOMAIN_JOIN_ERROR_ACCESS_DENIED",
                                                                    "DOMAIN_JOIN_ERROR_LOGON_FAILURE",
                                                                    "DOMAIN_JOIN_ERROR_INVALID_PARAMETER",
                                                                    "DOMAIN_JOIN_ERROR_MORE_DATA",
                                                                    "DOMAIN_JOIN_ERROR_NO_SUCH_DOMAIN",
                                                                    "DOMAIN_JOIN_ERROR_NOT_SUPPORTED",
                                                                    "DOMAIN_JOIN_NERR_INVALID_WORKGROUP_NAME",
                                                                    "DOMAIN_JOIN_NERR_WORKSTATION_NOT_STARTED",
                                                                    "DOMAIN_JOIN_ERROR_DS_MACHINE_ACCOUNT_QUOTA_EXCEEDED",
                                                                    "DOMAIN_JOIN_NERR_PASSWORD_EXPIRED",
                                                                    "DOMAIN_JOIN_INTERNAL_SERVICE_ERROR"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "ErrorMessage": {
                                                                "description": "The error message.",
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "FleetType": {
                                                    "description": "<p>The fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access to their apps. You are charged for all running instances in your fleet, even if no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users with access to applications after they connect, which takes one to two minutes. You are charged for instance streaming when users are connected and a small hourly fee for instances that are not streaming apps.</p> </dd> </dl>",
                                                    "enum": [
                                                        "ALWAYS_ON",
                                                        "ON_DEMAND"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ImageArn": {
                                                    "description": "The ARN for the public, private, or shared image.",
                                                    "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$",
                                                    "type": "string"
                                                },
                                                "ImageName": {
                                                    "description": "The name of the image used to create the fleet.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "InstanceType": {
                                                    "description": "The instance type to use when launching fleet instances.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "MaxUserDurationInSeconds": {
                                                    "description": "The maximum time that a streaming session can run, in seconds. Specify a value between 600 and 360000.",
                                                    "type": "integer"
                                                },
                                                "Name": {
                                                    "description": "The name of the fleet.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "State": {
                                                    "description": "The current state for the fleet.",
                                                    "enum": [
                                                        "STARTING",
                                                        "RUNNING",
                                                        "STOPPING",
                                                        "STOPPED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "VpcConfig": {
                                                    "description": "The VPC configuration for the fleet.",
                                                    "properties": {
                                                        "SecurityGroupIds": {
                                                            "description": "The identifiers of the security groups for the fleet or image builder.",
                                                            "items": {
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "maxItems": 5,
                                                            "type": "array"
                                                        },
                                                        "SubnetIds": {
                                                            "description": "The identifiers of the subnets to which a network interface is attached from the fleet instance or image builder instance. Fleet instances use one or two subnets. Image builder instances use one subnet.",
                                                            "items": {
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "Arn",
                                                "Name",
                                                "InstanceType",
                                                "ComputeCapacityStatus",
                                                "State"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotAvailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidAccountStatusException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidRoleException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ConcurrentModificationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "IncompatibleImageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "OperationNotPermittedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ComputeCapacity": {
                                        "description": "The desired capacity for the fleet.",
                                        "properties": {
                                            "DesiredInstances": {
                                                "description": "The desired number of streaming instances.",
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "DesiredInstances"
                                        ],
                                        "type": "object"
                                    },
                                    "Description": {
                                        "description": "The description to display.",
                                        "maxLength": 256,
                                        "type": "string"
                                    },
                                    "DisconnectTimeoutInSeconds": {
                                        "description": "The time after disconnection when a session is considered to have ended, in seconds. If a user who was disconnected reconnects within this time interval, the user is connected to their previous session. Specify a value between 60 and 360000.",
                                        "type": "integer"
                                    },
                                    "DisplayName": {
                                        "description": "The fleet name to display.",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "DomainJoinInfo": {
                                        "description": "The name of the directory and organizational unit (OU) to use to join the fleet to a Microsoft Active Directory domain. ",
                                        "properties": {
                                            "DirectoryName": {
                                                "description": "The fully qualified name of the directory (for example, corp.example.com).",
                                                "type": "string"
                                            },
                                            "OrganizationalUnitDistinguishedName": {
                                                "description": "The distinguished name of the organizational unit for computer accounts.",
                                                "maxLength": 2000,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "EnableDefaultInternetAccess": {
                                        "description": "Enables or disables default internet access for the fleet.",
                                        "type": "boolean"
                                    },
                                    "FleetType": {
                                        "description": "<p>The fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access to their apps. You are charged for all running instances in your fleet, even if no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users with access to applications after they connect, which takes one to two minutes. You are charged for instance streaming when users are connected and a small hourly fee for instances that are not streaming apps.</p> </dd> </dl>",
                                        "enum": [
                                            "ALWAYS_ON",
                                            "ON_DEMAND"
                                        ],
                                        "type": "string"
                                    },
                                    "ImageArn": {
                                        "description": "The ARN of the public, private, or shared image to use.",
                                        "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$",
                                        "type": "string"
                                    },
                                    "ImageName": {
                                        "description": "The name of the image used to create the fleet.",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "InstanceType": {
                                        "description": "<p>The instance type to use when launching fleet instances. The following instance types are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>",
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "MaxUserDurationInSeconds": {
                                        "description": "The maximum time that a streaming session can run, in seconds. Specify a value between 600 and 360000.",
                                        "type": "integer"
                                    },
                                    "Name": {
                                        "description": "A unique name for the fleet.",
                                        "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]{0,100}$",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "<p>The tags to associate with the fleet. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Developer Guide</i>.</p>",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "^(^(?!aws:).[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "VpcConfig": {
                                        "description": "The VPC configuration for the fleet.",
                                        "properties": {
                                            "SecurityGroupIds": {
                                                "description": "The identifiers of the security groups for the fleet or image builder.",
                                                "items": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "maxItems": 5,
                                                "type": "array"
                                            },
                                            "SubnetIds": {
                                                "description": "The identifiers of the subnets to which a network interface is attached from the fleet instance or image builder instance. Fleet instances use one or two subnets. Image builder instances use one subnet.",
                                                "items": {
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "Name",
                                    "InstanceType",
                                    "ComputeCapacity"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateImageBuilder": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an image builder. An image builder is a virtual machine that is used to create an image.</p> <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>",
                "operationId": "CreateImageBuilder",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ImageBuilder": {
                                            "description": "Information about the image builder.",
                                            "properties": {
                                                "AppstreamAgentVersion": {
                                                    "description": "The version of the AppStream 2.0 agent that is currently being used by the image builder. ",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Arn": {
                                                    "description": "The ARN for the image builder.",
                                                    "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$",
                                                    "type": "string"
                                                },
                                                "CreatedTime": {
                                                    "description": "The time stamp when the image builder was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description to display.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "DisplayName": {
                                                    "description": "The image builder name to display.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "DomainJoinInfo": {
                                                    "description": "The name of the directory and organizational unit (OU) to use to join the image builder to a Microsoft Active Directory domain. ",
                                                    "properties": {
                                                        "DirectoryName": {
                                                            "description": "The fully qualified name of the directory (for example, corp.example.com).",
                                                            "type": "string"
                                                        },
                                                        "OrganizationalUnitDistinguishedName": {
                                                            "description": "The distinguished name of the organizational unit for computer accounts.",
                                                            "maxLength": 2000,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "EnableDefaultInternetAccess": {
                                                    "description": "Enables or disables default internet access for the image builder.",
                                                    "type": "boolean"
                                                },
                                                "ImageArn": {
                                                    "description": "The ARN of the image from which this builder was created.",
                                                    "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$",
                                                    "type": "string"
                                                },
                                                "ImageBuilderErrors": {
                                                    "description": "The image builder errors.",
                                                    "items": {
                                                        "description": "Describes a resource error.",
                                                        "properties": {
                                                            "ErrorCode": {
                                                                "description": "The error code.",
                                                                "enum": [
                                                                    "IAM_SERVICE_ROLE_MISSING_ENI_DESCRIBE_ACTION",
                                                                    "IAM_SERVICE_ROLE_MISSING_ENI_CREATE_ACTION",
                                                                    "IAM_SERVICE_ROLE_MISSING_ENI_DELETE_ACTION",
                                                                    "NETWORK_INTERFACE_LIMIT_EXCEEDED",
                                                                    "INTERNAL_SERVICE_ERROR",
                                                                    "IAM_SERVICE_ROLE_IS_MISSING",
                                                                    "SUBNET_HAS_INSUFFICIENT_IP_ADDRESSES",
                                                                    "IAM_SERVICE_ROLE_MISSING_DESCRIBE_SUBNET_ACTION",
                                                                    "SUBNET_NOT_FOUND",
                                                                    "IMAGE_NOT_FOUND",
                                                                    "INVALID_SUBNET_CONFIGURATION",
                                                                    "SECURITY_GROUPS_NOT_FOUND",
                                                                    "IGW_NOT_ATTACHED",
                                                                    "IAM_SERVICE_ROLE_MISSING_DESCRIBE_SECURITY_GROUPS_ACTION",
                                                                    "DOMAIN_JOIN_ERROR_FILE_NOT_FOUND",
                                                                    "DOMAIN_JOIN_ERROR_ACCESS_DENIED",
                                                                    "DOMAIN_JOIN_ERROR_LOGON_FAILURE",
                                                                    "DOMAIN_JOIN_ERROR_INVALID_PARAMETER",
                                                                    "DOMAIN_JOIN_ERROR_MORE_DATA",
                                                                    "DOMAIN_JOIN_ERROR_NO_SUCH_DOMAIN",
                                                                    "DOMAIN_JOIN_ERROR_NOT_SUPPORTED",
                                                                    "DOMAIN_JOIN_NERR_INVALID_WORKGROUP_NAME",
                                                                    "DOMAIN_JOIN_NERR_WORKSTATION_NOT_STARTED",
                                                                    "DOMAIN_JOIN_ERROR_DS_MACHINE_ACCOUNT_QUOTA_EXCEEDED",
                                                                    "DOMAIN_JOIN_NERR_PASSWORD_EXPIRED",
                                                                    "DOMAIN_JOIN_INTERNAL_SERVICE_ERROR"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "ErrorMessage": {
                                                                "description": "The error message.",
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "ErrorTimestamp": {
                                                                "description": "The time the error occurred.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "InstanceType": {
                                                    "description": "The instance type for the image builder.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name of the image builder.",
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Platform": {
                                                    "description": "The operating system platform of the image builder.",
                                                    "enum": [
                                                        "WINDOWS"
                                                    ],
                                                    "type": "string"
                                                },
                                                "State": {
                                                    "description": "The state of the image builder.",
                                                    "enum": [
                                                        "PENDING",
                                                        "UPDATING_AGENT",
                                                        "RUNNING",
                                                        "STOPPING",
                                                        "STOPPED",
                                                        "REBOOTING",
                                                        "SNAPSHOTTING",
                                                        "DELETING",
                                                        "FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StateChangeReason": {
                                                    "description": "The reason why the last state change occurred.",
                                                    "properties": {
                                                        "Code": {
                                                            "description": "The state change reason code.",
                                                            "enum": [
                                                                "INTERNAL_ERROR",
                                                                "IMAGE_UNAVAILABLE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Message": {
[...]
